@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Kiwi+Maru&family=Patrick+Hand+SC&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kiwi Maru", serif;
}
.header {
  margin: 0;
  padding: 80px 0;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./src/bg.jpg");
  opacity: 0.9;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
}
.header p {
  font-size: 50px;
  margin: 35px;
}
.header h1 {
  font-size: 5.5rem;
  margin: 35px;
}
.header button {
  padding: 10px 20px;
  font-size: 28px;
  border: none;
  margin: 35px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.header button:hover {
  background-color: rgb(207, 207, 207);
}
.header a {
  text-decoration: none;
  color: black;
}

hr {
  border-top: 1px solid rgb(209, 209, 209);
}

/* Footer */
footer {
  padding: 20px 100px;
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("./src/footer-bg.png");

  background-repeat: no-repeat;
  background-size: cover;
}
.links {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 20px;
  margin: 30px;
  text-align: justify;
}
.links h4 {
  margin: 15px 0;
  font-size: 22px;
}
.links li,
.links a {
  list-style: none;
  color: white;
  text-decoration: none;
}
.links li:hover {
  text-decoration: underline;
}
.links p a {
  color: blue;
}
.icons {
  font-size: 28px;
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
.icons i {
  padding: 0 10px;
  cursor: pointer;
  transition: 0.5s;
}
.icons i:hover {
  transform: scale(1.2);
}

/* Why Turkey */
.why-heading {
  text-align: center;
  padding: 40px;
  font-size: 40px;
}
.why-turkey {
  padding: 20px 80px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 15px;
  text-align: center;
}

.why-turkey img {
  width: 250px;
  border-radius: 20px;
  margin: 10px;
  transition: 0.5s;
}

.why-turkey img:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
}

.why-turkey i {
  font-size: 30px;
  color: rgb(22, 22, 61);
  background-color: rgb(216, 237, 240, 0.9);
  border-radius: 50%;
  padding: 20px;
  margin: 10px;
}

.first-grid,
.third-grid,
.second-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Mosque */
.mosque {
  text-align: center;
  padding: 20px 80px;
}
.mosque h1 {
  font-size: 40px;
  padding: 20px;
}
.mosque-gallary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 50px;
  gap: 10px;
  justify-items: center;
  margin: 30px 10px;
}
.mosque-container {
  width: 350px;
  position: relative;
  overflow: hidden;
}

.mosque-container img {
  max-width: 100%;
  height: auto;
}

.mosque-container:hover .t {
  top: 50%;
}
.mosque button {
  padding: 10px 20px;
  margin: 20px;
  color: rgb(216, 237, 240, 0.9);
  background-color: rgb(22, 22, 61);
  font-size: 20px;
  border: none;
  transition: 0.3s;
}
.mosque button:hover {
  background-color: rgb(216, 237, 240, 0.9);
  color: rgb(22, 22, 61);
  border: 1px solid rgb(22, 22, 61);
}

.t {
  color: white;
  background-color: rgba(10, 34, 54, 0.8);
  position: absolute;
  bottom: -100%;
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  transition: all 0.5s;
}

/* Image Gallary */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 40px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 3px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  transition: 0.5s;
}
.column img:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
}
.img-gallary h1 {
  text-align: center;
  font-size: 40px;
  margin: 20px;
}
.img-gallary p {
  text-align: center;
  font-size: 25px;
  margin: 20px;
}

/* Embed */
.embed {
  padding: 20px 80px;
  text-align: center;
}
.embed h1 {
  font-size: 40px;
  padding: 25px;
}
.embed iframe {
  aspect-ratio: 16/9;
  padding: 10px;
}

@media (max-width: 900px) {
  .header {
    padding: 35px 0;
  }
  .header h1 {
    font-size: 2.3rem;
    margin: 25px;
  }
  .header p {
    font-size: 25px;
    margin: 25px;
  }
  .header button {
    font-size: 20px;
    margin: 25px;
  }

  /* Footer */
  footer {
    padding: 30px;
  }
  .links {
    grid-template-columns: 1fr;
    font-size: smaller;
  }
  .sub-links {
    display: none;
  }
  .icons {
    font-size: 20px;
  }

  /* Why Turkey */
  .why-turkey {
    grid-template-columns: 1fr;
    column-gap: 10px;
    justify-content: center;
    font-size: small;
  }
  .why-turkey i {
    display: none;
  }

  .second-grid {
    flex-direction: column-reverse;
  }

  .why-heading {
    font-size: 22px;
    padding: 20px;
  }

  /* Mosque */
  .mosque-gallary {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 10px;
    padding: 10px 5px;
  }
  .mosque-container {
    width: 300px;
  }
  .mosque h1 {
    font-size: 22px;
    padding: 10px;
  }
  .mosque button {
    font-size: 15px;
    margin: 10px;
  }
  .mosque-container h2 {
    font-size: 15px;
  }
  .mosque-container p {
    font-size: 12px;
  }
  .column {
    flex: 50%;
    max-width: 50%;
  }
  .img-gallary h1 {
    font-size: 22px;
    margin: 10px;
  }
  .img-gallary p {
    font-size: 18px;
    margin: 5px;
  }
  .row {
    padding: 10px 30px;
  }
  .embed h1 {
    font-size: 20px;
  }
  .embed {
    text-align: center;
    padding: 20px 10px;
  }
}

@media (max-width: 678px) {
  .header h1 {
    font-size: 2rem;
  }
  .header p {
    font-size: small;
  }
  .header button {
    font-size: small;
  }
  .links p {
    font-size: smaller;
  }
  .icons {
    font-size: smaller;
  }
  .mosque-gallary {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .mosque-container {
    width: 200px;
  }
  .mosque-container h2 {
    font-size: 10px;
  }
  .mosque-container p {
    font-size: 8px;
  }
  .column {
    flex: 25%;
    max-width: 80%;
  }
}
